html,
body {
  height: 100%;
}
.chat_container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.chat_container .messages_area {
  border: 1px solid #444444;
  flex: 1;
}
.chat_container .messages_area .message_row {
  margin-top: 5px;
  margin-bottom: 2px;
  padding-left: 40px;
  background-repeat: no-repeat;
  background-position: 10px 0;
  background-size: 30px 30px;
}
.chat_container .messages_area .message_row .username {
  font-weight: bold;
  font-style: italic;
}
.chat_container .input_area {
  margin-right: 0;
  margin-left: 0;
  margin-top: 10px;
  border: 1px solid #444444;
  /*input {
			transition: 0.2s ease all;
		}*/
}
.chat_container .input_area .button {
  float: right;
  margin-top: 5px;
}
.input_error {
  /*border-bottom:1px solid red !important;*/
  animation: blink .5s 3 alternate;
}
@keyframes blink {
  50% {
    background-color: #fa7b7b;
  }
}
